@import url('reset.css');

/* General Demo Style */
body{
	background: url(../images/headphones-690685_1280.jpg);
	color:#000;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size:13px;
}
a{
	color:#000;
	text-decoration:none;
}

h1{
	padding:20px;
	font-size:28px;
	color:#333;
	font-weight:400;
    text-align:center;
    text-shadow:1px 1px 1px #fff;
}
h1 span{
	font-size:18px;
	color:#1693eb;
}

.container{
	position:relative;
}

.content{
	position:relative;
}
h1{
	margin:0px;
	padding:20px;
	font-size:32px;
	color:#000;
    text-shadow:1px 1px 1px rgba(255,255,255,0.9);
	text-align:center;
	font-weight:400;
}
h1 span{
    display:block;
	font-size:14px;
	color:#666;
    font-style:italic;
    font-family:Georgia, serif;
	padding-top:5px;
}
