/* Flexible Slide-to-top Accordion Style*/
.wrapper{
	width:90%;
	max-width:800px;
	margin:30px auto;
}
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
}

.st-accordion ul li > a{
	  color: aliceblue;
    font-family: 'Josefin Slab',Georgia, serif;
    text-shadow: 1px 1px 1px #fff;
    font-size: 46px;
    display: block;
	position: relative;
    line-height: 100px;
	outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
	background: transparent url(../images/down.png) no-repeat center center;
	text-indent:-9000px;
	width: 26px;
	height: 14px;
	position: absolute;
	top: 50%;
	right: -26px;
	margin-top: -7px;
	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
    color: red;
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: red;
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
    transform:rotate(180deg);
	right:10px;
	opacity:1;
}
.st-content{
    padding: 5px 0px 30px 0px;
}
.st-content p{
    font-size:  16px;
    font-family:  Georgia, serif;
    font-style: italic;
    line-height:  28px;
    padding: 0px 4px 15px 4px;
}

@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}


/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,p,blockquote,fieldset,input{
  margin:0; padding:0;
}

/*bar*/
.bar h3, p {
  color: aliceblue;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}

/* Bar bottom */
#bar li div.bottom {
  position:relative; margin:5px 0; width:50px;
	height:100px; -moz-border-radius: 40px/100px; -webkit-border-radius: 40px 100px; border-radius: 40px/100px;
	background:-moz-linear-gradient(-90deg, #97a7a9, #b8cbcd); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#97a7a9), to(#b8cbcd));
	-webkit-transition-property: width;
	-webkit-transition-duration: 500ms;
}

#bar li div.bottom div.infobox {
   padding:40px 0 0 600px;
	-webkit-transition-property: color;
	-webkit-transition-duration: 500ms;
}

#bar li div.bottom div.infobox h3 {
  font-family:Georgia,serif,Times;
 }

#bar li div.bottom div.infobox p {
   font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
}

/* General hover actions */
#bar li:hover div.bottom div.infobox { color:#eee; text-shadow: 0px 5px 5px #111; }
#bar li:hover div.bottom div.infobox p { opacity:1; }

/* html bar */
#html div.top { z-index:99; }
#html div.bottom { z-index:98; height:250px; }
#html:hover div.top { z-index:999; background-color:#bc003c; margin-left:360px; }
#html:hover div.bottom { z-index:998; background-color:#9d0032; width:400px;
	background:-moz-linear-gradient(-90deg, #9d0032, #7a0027); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#9d0032), to(#7a0027)); }

/* css bar */
#css div.top { z-index:97; }
#css div.bottom { z-index:96; height:200px; }
#css:hover div.top { z-index:997; background-color:#bc003c; margin-left:310px; }
#css:hover div.bottom { z-index:996; background-color:#9d0032; width:350px;
	background:-moz-linear-gradient(-90deg, #9d0032, #7a0027); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#9d0032), to(#7a0027)); }

/* js bar */
#js div.top { z-index:95; }
#js div.bottom { z-index:94; height:250px; }
#js:hover div.top { z-index:995; background-color:#d98f23; margin-left:240px; }
#js:hover div.bottom { z-index:994; background-color:#b6781e; width:280px;
	background:-moz-linear-gradient(-90deg, #b6781e, #916018); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#b6781e), to(#916018)); }

/* java bar */
#java div.top { z-index:93; }
#java div.bottom { z-index:92; height:100px; }
#java:hover div.top { z-index:993; background-color:#7da864; margin-left:240px; }
#java:hover div.bottom { z-index:992; background-color:#698d54; width:280px;
	background:-moz-linear-gradient(-90deg, #698d54, #506b40); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#698d54), to(#506b40)); }

/* android bar */
#android div.top { z-index:91; }
#android div.bottom { z-index:90; height:120px; }
#android:hover div.top { z-index:991; background-color:#7da864; margin-left:360px; }
#android:hover div.bottom { z-index:990; background-color:#698d54; width:400px;
  background:-moz-linear-gradient(-90deg, #698d54, #506b40); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#698d54), to(#506b40)); }

  /* ruby bar */
  #ruby div.top { z-index:89; }
  #ruby div.bottom { z-index:88; height:120px; }
  #ruby:hover div.top { z-index:991; background-color:#3f1150; margin-left:400px; }
  #ruby:hover div.bottom { z-index:990; background-color:#340e43; width:440px;
  	background:-moz-linear-gradient(-90deg, #340e43, #1a0721); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#340e43), to(#1a0721)); }

  /* rails bar */
  #rails div.top { z-index:97; }
  #rails div.bottom { z-index:96; height:200px; }
  #rails:hover div.top { z-index:997; background-color:#3f1150; margin-left:360px; }
  #rails:hover div.bottom { z-index:996; background-color:#340e43; width:400px;
    background:-moz-linear-gradient(-90deg, #340e43, #1a0721); background:-webkit-gradient(linear, 0 top, 0 bottom, from(#340e43), to(#1a0721)); }

#page1 p {
	font-size: 20px;
	font-style: italic;
	font-weight: bolder;
	color: aliceblue;
}
